div.a1{
    position:absolute;
    left: 38%; 
    top:18%;
    
    border-style: hidden ;
    border-radius: 25px;
    width: 300px; height: 450px;
    text-align: center;
    background-color: rgb(226, 226, 226);
 }
div.a4 {
    background-color: rgb(94, 194, 248);
    width: 285px; height: 53px;
    position: relative;
    left: 7.4px;
    top:0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
label {font-size: 20px;}
input.a2 {border-radius: 5px;}
input.a3 {width: 181px; border-radius: 5px; font-size: large; background-color: rgb(171, 216, 241);}
h2.l1{
padding: 10px; 
color: aliceblue;      
}
img{
    width: 45px;
    padding: 4px;
    position: absolute;
    left: 182px;
    top: 0px; 
}
